$mi-orange: #FAA362;
$mi-white: #ffffff;
$mi-black: #050505;
$mi-blue: #0d6efd;
$mi-blue-light: rgba(13, 109, 253, 0.6);
$mi-grey: #757575;
$mi-grey-sky: #f3f3f9;
$mi-grey-blue: #7C8DB5;
$mi-grey-smoke: #E6EDFF;
$mi-green: #52a80b;
$mi-green-1: #4cd964;
$mi-green-light: rgba(82, 168, 11, 0.6);
$mi-yellow: #eedd7f;
$mi-yellow-light: rgb(238, 221, 127, 0.6);
$mi-yellow-vanilla: #ffcc00;
$mi-cyan: #0090b2;
$mi-cyan-1: #34aadc;
$mi-red-1: #ff2d55;
$mi-dark-blue: #036c96;