$mi-orange: #FAA362;
$mi-white: #ffffff;
$mi-black: #050505;
$mi-blue: #0d6efd;
$mi-blue-light: rgba(13, 109, 253, 0.6);
$mi-grey: #757575;
$mi-dark-grey: #313131;
$mi-dark-grey-2: #444444;
$mi-grey-sky: #f3f3f9;
$mi-grey-blue: #7C8DB5;
$mi-grey-smoke: #E6EDFF;
$mi-green: #52a80b;
$mi-green-1: #4cd964;
$mi-green-light: rgba(82, 168, 11, 0.6);
$mi-cyan: #0090b2;
$mi-cyan-1: #64aecd;
$mi-dark-blue: #036c96;

$mi-orange-2: #ff4500;

$mi-yellow: #fef112;
$mi-yellow-light: #ebb644;
$mi-yellow-vanilla: #ffcc00;
$mi-dark-red-1: #460000;
$mi-dark-red-2: #300000;
$mi-red-1: #a52a2a;

$mi-gold: #ffd700;
$mi-gold-2: #ebb644;
$mi-gold-dark: #9e7a2d;

$mi-wine-light: #c964d2;