.form-background {
    background-color: #beb375;
  }

  .transparent-card {
    background-color: rgba(255, 255, 255, 0.3); /* Change the alpha value for more or less transparency */
    border: none; /* Optionally remove the border for a cleaner look */
    margin-top: 10px;
  }
  
  .fully-transparent-card {
    background-color: rgba(255, 255, 255, 0.0); /* Change the alpha value for more or less transparency */
    border: none; /* Optionally remove the border for a cleaner look */
    // margin-top: 10px;
  }