// _infoCard.scss
.info-card {
    background-color: $mi-dark-grey-2;
    border-radius: 15px;
    width: 250px;
    max-height: 150px;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .info-card-body {
    padding: 10px;
  }
  
  .info-card-count {
    color: $mi-white;
    border-radius: 10px;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1px;
    padding-right: 1px;
  }
  
  .info-card-title {
    color: $mi-yellow;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 2px;
    margin-bottom: 0px;
  }
  
  .mini-info-card {
    background-color: $mi-dark-grey-2;
    border-radius: 10px;
    width: 150px;
    max-height: 100px;
    margin: 5px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mini-info-card-body {
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .mini-info-card-image img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
  }
  
  .mini-info-card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mini-info-card-count {
    color: $mi-white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .mini-info-card-title {
    color: $mi-yellow;
    font-size: 14px;
    font-weight: bold;
  }
  
  // Add this to your _infoCard.scss or a similar style file
.detalle-turno-metadata-card {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: $mi-dark-grey-2;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .detalle-turno-metadata-card .info-pill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 0.5rem;
  }
  
  .detalle-turno-metadata-card .info-pill div {
    color: $mi-white;
  }