// _infoCard.scss
$accent-color: #FFC107;

.info-card {
    background-color: $mi-dark-grey-2;
    border-radius: 15px;
    width: 250px;
    max-height: 150px;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-card-body {
    padding: 10px;
}

.info-card-count {
    color: $mi-white;
    border-radius: 10px;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1px;
    padding-right: 1px;
}

.info-card-title {
    color: $accent-color;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 2px;
    margin-bottom: 0px;
}

.info-pill {
    color: $mi-white;
    background-color: $mi-dark-grey !important;
}

.boton-cop {
    background-color: $accent-color;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;

    &:hover {
        background-color: darken($accent-color, 10%);
    }
}

.boton-refresh-status {
    color: $accent-color;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}

.modal-content {
    background-color: $mi-light-grey-2;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-header, .modal-footer {
    border-bottom: none;
    border-top: none;
}

.modal-body {
    padding: 20px;
}

.card-in-modal-colored {
    background-color: $mi-light-grey-2;
}

.card-in-modal-content {
    background-color: $mi-light-grey;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.monto-desglosado .info-card-breakdown {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    color: #FFF;
    margin-top: 5px;
}

.mini-info-card {
    background-color: $mi-dark-grey-2;
    border-radius: 10px;
    width: 150px;
    max-height: 100px;
    margin: 5px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-info-card-body {
    display: flex;
    align-items: center;
    padding: 5px;
}

.mini-info-card-image img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.mini-info-card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini-info-card-count {
    color: $mi-white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.mini-info-card-title {
    color: $accent-color;
    font-size: 14px;
    font-weight: bold;
}

.detalle-turno-metadata-card {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: $mi-dark-grey-2;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detalle-turno-metadata-card .info-pill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 0.5rem;
}

.detalle-turno-metadata-card .info-pill div {
    color: $mi-white;
}

.cierre-caja-pago-card {
    color: $mi-dark-grey;
    background-color: $mi-light-grey;
    border: none;
    border-radius: 5px;
}

.cierre-caja-global-card {
    color: $mi-white;
    background-color: $mi-dark-grey-2;
}

.header-badge-image img {
    width: 20px;
    height: 20px;
    // margin-right: 10px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}