.table-container-title{
    background-color: $mi-white;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    background-color: rgba($mi-black, 0.7);
    color: $mi-white;
}
