// .table-group-divider th,
.table-group-divider td {
  text-align: center;
  vertical-align: middle;
}

.image-preview-container {
  border-radius: 1px solid #ced4da;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-preview {
  max-width: 500px;
}
