.accionable-button {
  background-image: linear-gradient(to right, $mi-gold-dark, $mi-gold-2); /* Wine-colored gradient */
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif; /* Consistent typography */
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Space between icon and text */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.accionable-button:hover {
  background-image: linear-gradient(to right, #A00000, #700000);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adds depth on hover */
}

.accionable--contenido {
    display: flex;
    align-items: center;    
}

.accionable {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    // width: 300px;
}

.acciones-width {
  width: 500px;
}

.icon {
    font-size: 80px;
    margin-right: 20px;
}

.accionable-button .icon {
  max-height: 100px;  // Desired width of the icon
  // height: 80px; // Desired height of the icon
  margin-right: 20px; // Maintain the same right margin for alignment
  vertical-align: middle; // Align the icon vertically with the text
}

.sin-turno-abierto-overlay {
  position: absolute;
  top: 1;
  left: 1;
  width: 95%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1; 
  border-radius: 10px;
}

.sin-turno-abierto-overlay-p { 
  color: white;
  text-align: center;
  // align-items: center;
}


