.accionable--contenido {
    display: flex;
    align-items: center;    
}

.accionable {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.icon {
    font-size: 80px;
    margin-right: 20px;
}

.estado--tarjeta {
    width: 250px;
    height: 170px; /* Set the height equal to the width for a square card */
    background-color: $mi-red-1;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    border-radius: 15%;
}

.estado--contador {
    font-size: 40px; /* Adjust font size as needed */
    width: 130px;
    margin: 5px;
    border-radius: 70%; /* Create a circular shape */
    background-color: $mi-cyan;
    color: $mi-white;
}

.estado--titulo {
    font-size: 30px; /* Adjust font size as needed */
    margin: 0;
    margin-top: 8px; /* Add spacing between the counter and title */
}

.estado--contenedor {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}

.contenedor-paneles--estado {
    width: 50%;
    margin-left: auto;
    /* border: 1px solid red; */
}