.logobar{
    height: 100px;
    border-radius: 1rem;
    padding: 2px;
    background: transparent;
}

.logobar-small{
    height: 60px;
    margin-left: 30px;
    // border-radius: 1rem;
    // padding: 2px;
    background: transparent;
}
