.sidebar-container{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    background: $mi-white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.sideBar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px;
    padding: 2px 8px;
    border-radius: 15px;
}

.link-text{
    text-decoration: none;
}

.link-p{
    margin: 0px;
    color: $mi-black;
}

.icon-link--size{
    width: 32px;
    height: 32px;
    margin-bottom: 2px;
    margin-right: 10px;
}

.link-underline{
    
    text-decoration: none;
    background-image: linear-gradient($mi-cyan, $mi-cyan);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;

    &:hover {
        background-size: 100% 2px;
    }
}

.link-container-isActive{
    background-color: $mi-cyan;
    color: $mi-white;
}

.link-text-isActive{
    color: $mi-white;
}
